In [2]:
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
df = pd.read_csv("../data/finalData2.csv")
df['time'] = pd.to_datetime(df['time'])
df.drop(['oerlikon', 'time', 'Unnamed: 0'], inplace=True, axis = 1)
X_train, X_test, y_train, y_test = train_test_split(df.drop('city', axis = 1), df['city'], test_size=0.33, random_state=42)

,city,weekday,minutes_since_midnight,opened,temperature_2m (°C),relative_humidity_2m (%),apparent_temperature (°C),precipitation (mm),cloud_cover (%),wind_speed_10m (km/h),shortwave_radiation (W/m²),is_day ()
0,155,2,1003,True,11.496778,74.594444,7.112444,0.243778,100.0,25.0060,49.373333,1.0
1,154,2,1003,True,11.490944,74.636111,7.109111,0.245444,100.0,24.9910,49.273333,1.0
2,163,2,1005,True,11.468972,74.793056,7.096556,0.251722,100.0,24.9345,48.896667,1.0
3,163,2,1006,True,11.462944,74.836111,7.093111,0.253444,100.0,24.9190,48.793333,1.0
4,162,2,1006,True,11.457111,74.877778,7.089778,0.255111,100.0,24.9040,48.693333,1.0

# Linear regression

In [6]:
reg = LinearRegression().fit(X_train, y_train)

In [7]:
y_pred = reg.predict(X_test)
# Calculate MSE
mse = mean_squared_error(y_test, y_pred)

print(f"Test Mean Squared Error: {mse:.2f}")

Test Mean Squared Error: 902.06

In [8]:
for idx, coef in enumerate(reg.coef_):
    print(f"Feature {idx}: {coef:.2f}")

Feature 0: -2.63
Feature 1: 0.01
Feature 2: 79.43
Feature 3: 9.16
Feature 4: 0.42
Feature 5: -8.14
Feature 6: 2.03
Feature 7: 0.05
Feature 8: -0.90
Feature 9: 0.01
Feature 10: 29.60

In [14]:
df

,city,weekday,minutes_since_midnight,opened,temperature_2m (°C),relative_humidity_2m (%),rain (mm),cloud_cover (%),wind_speed_10m (km/h)
0,155,2,1003,True,11.496778,74.594444,0.243778,100.000000,25.006000
1,154,2,1003,True,11.490944,74.636111,0.245444,100.000000,24.991000
2,163,2,1005,True,11.468972,74.793056,0.251722,100.000000,24.934500
3,163,2,1006,True,11.462944,74.836111,0.253444,100.000000,24.919000
4,162,2,1006,True,11.457111,74.877778,0.255111,100.000000,24.904000
...,...,...,...,...,...,...,...,...,...
412796,76,3,957,True,25.687833,64.878333,0.004056,9.865556,8.635222
412797,76,3,958,True,25.690417,64.904167,0.003194,9.469444,8.585278
412798,79,3,958,True,25.692917,64.929167,0.002361,9.086111,8.536944
412799,78,3,959,True,25.695500,64.955000,0.001500,8.690000,8.487000
412800,77,3,960,True,25.701750,64.995000,0.000000,8.017500,8.400750